<div class="col-xs-12" *ngIf="items.length === 0">
  <p> Não itens no seu carrinho. Que tal começar por <a [routerLink]="['/restaurants']">aqui </a> ? </p>
</div>
<table class="table table-striped" *ngIf="items.length > 0">
  <thead>
    <tr>
      <th class="text-center">Quantidade</th>
      <th>Item</th>
      <th>Descrição</th>
      <th class="text-right">Subtotal</th>
      <th class="text-right"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td class="text-center">
        <a class="btn btn-sm">
          <i (click)="emitDecreaseQty(item)" class="fa fa-minus"></i>
        </a>
        {{ item.quantity }}
        <a class="btn btn-sm">
          <i (click)="emitIncreaseQty(item)" class="fa fa-plus"></i>
        </a>
      </td>
      <td>{{ item.menuItem.name }}</td>

      <td>{{ item.menuItem.description }}</td>
      <td class="text-right">{{ item.value() | currency:'BRL':true }}</td>
      <td class="text-right">
        <a class="btn btn-sm danger">
          <i (click)="emitRemove(item)" class="fa fa-remove"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
