<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <th style="width:50%">Itens:</th>
        <td class="text-right">{{ itemsValue | currency:'BRL':true }}</td>
      </tr>
      <tr>
        <th>Frete:</th>
        <td class="text-right">{{ delivery | currency:'BRL':true }}</td>
      </tr>
      <tr>
        <th>Total:</th>
        <td class="text-right">{{ total() | currency:'BRL':true }}</td>
      </tr>
    </tbody>
  </table>
</div>
