.snackbar {
  min-width: 250px;
  margin-left: -125px;
  background: #333;
  color: #FFF;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
